{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "18"
          }
        }
      ],
      "@babel/preset-typescript"
    ],
    "env": {
      "development": {
        "sourceMaps": "inline"
      }
    },
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["."],
          "alias": {
            "common": "./src/common",
            "common-app": "./src/common-app",
            "core": "./src/core",
            "dals": "./src/dals",
            "pods": "./src/pods"
          }
        }
      ]
    ]
  }